@import url('https://fonts.googleapis.com/css?family=Coiny|Raleway');

:root {
  --color-prime: #6c63ff;
  --color-dark: #3f3d56;
  --color-light: #e7effd;
  --color-highlight: #13c4a3;
  --font-size: 20px;
  --font-header: 'Coiny', sans-serif;
  --font-main: 'Raleway', 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-light) no-repeat center center fixed;
  background-size: cover;
  color: #3f4850;
  font-family: var(--font-main);
  font-size: var(--font-size);
  margin: 0;
  text-align: center;
}

header {
  background: url('../images/undraw_before_dawn_bqrj.svg') no-repeat bottom center fixed;
  background-size: cover;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19), 0 3px 4px 2px rgba(0, 0, 0, 0.23);
  color: var(--color-light);
  padding-bottom: 0.5rem;
  padding-top: 2rem;
}

h1 {
  font-family: var(--font-header);
  font-size: 3.25rem;
  line-height: calc(3.25 * 1.5rem);
  user-select: none;
}

h2 {
  color: #3f4850;
  font-family: var(--font-header);
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
  user-select: none;
}

h3,
h4,
h5 {
  font-weight: 700;
  user-select: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  display: flex;
  margin: 0 auto 32px;
  max-width: 460px;
}

.search-form button {
  background-color: var(--color-highlight);
  border: none;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  outline: none;
  padding: 0px 15px;
}

input {
  background-color: #fff;
  border: 3px solid #d7dbdf;
  border-radius: 0.35em 0 0 0.35em;
  border-right: none;
  font-size: 1em;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

.main-nav li {
  margin-bottom: 1em;
  width: 100%;
}

.main-nav a {
  background: var(--color-highlight);
  border-radius: 3px;
  color: #fff;
  display: block;
  padding: 5px;
}

.main-nav .nav-active {
  background: var(--color-light);
  color: var(--color-dark);
}

.main-nav .active,
.main-nav a:hover {
  background: var(--color-light);
  color: var(--color-dark);
}

.history-list {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(2, 1fr);
}

.photo-container ul {
  align-items: flex-start;
  -ms-align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.photo-container ul li {
  height: 165px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 220px;
}

.photo-container ul img {
  transform: scale(1.25);
  transition: transform 1.25s;
  width: 100%;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

.site-img {
  max-width: 700px;
  width: 90%;
}

@media only screen and (max-width: 767px) {
  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin: auto;
    max-width: 100%;
  }

  .photo-container,
  .history-container {
    margin: auto;
    max-width: 960px;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    margin: 10px;
    width: 125px;
  }
}